* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  width: 990px;
  margin: 0 auto;
}

.top-bar {
  height: 40px;
  margin-bottom: 5px;
  color: #9d9d9d;
  background-color: #222;
}

h1 {
  position: absolute;
  padding: 10px;
  margin: 0;
  color: #fff;
  font-size: 1em;
  display: inline-block;
}

.page-header {
  text-align: center;
  font-size: 2em;
}

h3, h4 {
  width: 100%;
  display: block;
}

nav {
  margin: 0 auto;
  text-align: center;
  height: 100%;

  a {
    display: inline-block;
    height: 100%;
    padding: 10px;
    color: #54d29a;
    font-weight: bold;
    text-decoration: none;
  }

  .selected {
    background-color: #d3d3d3;
    color: #1a1a1a;
  }
}
