* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  width: 990px;
  margin: 0 auto;
}

.nav-bar {
  min-height: 40px;
  margin-bottom: 5px;
  padding-left: 210px;
  color: #9d9d9d;
  background-color: #222;
  position: relative;
}

h1 {
  position: absolute;
  padding: 8px 10px 10px 10px;
  margin: 0;
  left: 0;
  color: #fff;
  font-size: 1.5em;
  display: inline-block;
}

@media (max-width: 800px) {
  h1 {
    position: static;
  }

  .nav-bar {
    padding-left: 0;
  }
}

.page-header {
  text-align: center;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 30px;
}

h3, h4 {
  width: 100%;
  display: block;
}

h3 {
  margin-top: 20px;
}

nav {
  height: 100%;
  margin-left: 10px;

  a {
    display: inline-block;
    height: 100%;
    padding: 10px;
    color: #54d29a;
    font-weight: bold;
    text-decoration: none;
  }

  .selected {
    background-color: #d3d3d3;
    color: #1a1a1a;
  }
}

.the-four-groups-image {
  max-width:100%;
  max-height:100%;
}

.github-icon-container {
  position: absolute;
  right: 1rem;
  top: .7rem;

  .icon > svg {
    height: 20px;
    width: 20px;
  }
}

.centered-content {
  text-align: center;
}

@media (max-width: 1000px) {
  .main-content {
    width: auto;
    padding: 0 20px;
  }
}
