.main-content {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

h4 {
  font-style: italic;
}
